body {
  background-color: gray;
}

.react-chatbot-kit-chat-container {
  margin: auto;
  margin-top: 10%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.react-chatbot-kit-chat-container {
  animation: fadeIn 1s ease-in-out;
}


